NUXT_BZ_TOKEN=
NUXT_CACHE_TIME=60
NUXT_REFRESH_TIME=600
NUXT_UPDATE_TOKEN=
NUXT_GAME_VERSION=
NUXT_GAME_VERSION_CODE=
NUXT_GAME_HASH=
NUXT_SESSION_PASSWORD=
NUXT_OAUTH_DISCORD_CLIENT_ID=
NUXT_OAUTH_DISCORD_CLIENT_SECRET=
NUXT_MATCHMAKING_API=http://localhost:3001
NUXT_MATCHMAKING_TOKEN=
NUXT_PUBLIC_MATCHMAKING_WS=ws://localhost:3001/stats